[run]
source = 
    tests
    solutions

omit =
    conftest.py
    constants.py
    tests/data/*
    test_*
    solutions/4.2/42_h.py
    solutions/4.2/42_i.py

[report]
show_missing = True
fail_under = 100
