[run]
source = 
    tests
    solutions

omit =
    conftest.py
    *__init__.py
    utils*
    *test_2*
    *test_3*
    solutions/2.*
    solutions/3.*
    tests/data/*
    tests/2.*
    tests/3.*

[report]
show_missing = True
fail_under = 100
